*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }
  @media (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media (min-width: 112.5em) {
    html {
      font-size: 75%; } }

body {
  box-sizing: border-box;
  background-image: url(/assets/images/background5.png);
  background-size: 100vw; }
  @media (max-width: 56.25em) {
    body {
      padding: 0; } }

.para1, .para2, .contact__info1, .contact__info2 {
  color: silver;
  font-family: 'Oswald', sans-serif;
  font-size: 20px;
  transition: .5s ease-out;
  text-shadow: .5rem 1rem 2rem black; }
  @media (max-width: 56.25em) {
    .para1, .para2, .contact__info1, .contact__info2 {
      font-size: 2rem; } }
  @media (max-width: 37.5em) {
    .para1, .para2, .contact__info1, .contact__info2 {
      font-size: 1.5rem; } }

.btn {
  background-color: transparent;
  position: relative;
  color: black;
  font-size: 12px;
  text-decoration: none;
  border: 0.2rem solid #414040;
  overflow: hidden;
  text-transform: uppercase;
  padding: 15px 40px;
  margin-top: 20px;
  display: inline-block;
  transition: all .3s ease;
  z-index: 5;
  cursor: pointer; }
  .btn:hover {
    background-color: #c82641;
    color: silver;
    transform: translateY(-3px);
    border-radius: 100px;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }
    .btn:hover::before {
      height: 380%; }
  .btn:active {
    transform: translateY(3px);
    transition: all .1s ease;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
    color: black; }
  .btn::before {
    content: "";
    background: #c82641;
    position: absolute;
    width: 100%;
    height: 0;
    top: 50%;
    left: 50%;
    z-index: -1;
    transition: all 0.3s ease;
    transform: translate(-50%, -50%) rotate(45deg); }
  .btn__desktop1, .btn__desktop2, .btn__desktop3, .btn__desktop4 {
    margin-right: 2%; }
    @media (max-width: 37.5em) {
      .btn__desktop1, .btn__desktop2, .btn__desktop3, .btn__desktop4 {
        display: none; } }
    @media (max-width: 56.25em) {
      .btn__desktop1, .btn__desktop2, .btn__desktop3, .btn__desktop4 {
        margin-right: 1%;
        padding: 10px 25px; } }

.card {
  perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative;
  height: 20rem;
  animation: moveUp 1s 1 ease;
  margin-bottom: 20rem; }
  @media (max-width: 56.25em) {
    .card {
      animation: none; } }

@keyframes moveUp {
  0% {
    margin-top: 100px;
    opacity: 0; }
  100% {
    margin-top: 0px;
    opacity: 1; } }
  .card li {
    font-size: 1.2rem; }
  .card .card__details {
    font-weight: bold;
    font-size: 1.3rem; }
  .card .row__card1BtnRow {
    margin-top: 20%;
    width: 100%; }
    @media (max-width: 56.25em) {
      .card .row__card1BtnRow {
        margin-top: 37%; } }
    @media (max-width: 75em) {
      .card .row__card1BtnRow .btn__projectCard1 {
        padding: 5% 15%; } }
  .card .row__card2BtnRow {
    margin-top: 22%; }
    @media (max-width: 56.25em) {
      .card .row__card2BtnRow {
        margin-top: -10%; } }
    @media (max-width: 75em) {
      .card .row__card2BtnRow {
        margin-top: 26%; } }
    @media (max-width: 75em) {
      .card .row__card2BtnRow .btn__projectCard2 {
        padding: 5% 15%; } }
  .card .row__card3BtnRow {
    margin-top: 22%; }
    @media (max-width: 56.25em) {
      .card .row__card3BtnRow {
        margin-top: 42%; } }
    @media (max-width: 75em) {
      .card .row__card3BtnRow .btn__projectCard3 {
        padding: 5% 15%; } }
  .card__side {
    color: black;
    height: 35.5rem;
    transition: all .8s ease;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    backface-visibility: hidden;
    border-radius: 3px;
    overflow: hidden;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15); }
    @media (max-width: 56.25em) {
      .card__side {
        height: 40rem; } }
    .card__side--front-1 {
      background-image: linear-gradient(to right bottom, #f0a42a, #c2821b); }
    .card__side--front-2 {
      background-image: linear-gradient(to right bottom, lightgreen, green); }
    .card__side--front-3 {
      background-image: linear-gradient(to right bottom, lightblue, blue); }
    .card__side--back {
      transform: rotateY(180deg); }
      .card__side--back-1 {
        background-image: linear-gradient(to right bottom, #f0a42a, #c2821b); }
      .card__side--back-2 {
        background-image: linear-gradient(to right bottom, lightgreen, green); }
      .card__side--back-3 {
        background-image: linear-gradient(to right bottom, lightblue, blue); }
  .card:hover .card__side--front {
    transform: rotateY(-180deg); }
  .card:hover .card__side--back {
    transform: rotateY(0); }
  .card__picture {
    background-size: cover;
    height: 20rem;
    background-blend-mode: screen;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%); }
    .card__picture--1 {
      background-image: linear-gradient(to right bottom, #f0a42a, #c2821b), url(../../assets/images/ClickyGame.JPG); }
    .card__picture--2 {
      background-image: linear-gradient(to right bottom, lightgreen, green), url(../../assets/images/budgetfriendly.JPG); }
    .card__picture--3 {
      background-image: linear-gradient(to right bottom, lightblue, blue), url(../../assets/images/Giphy.JPG); }
  .card__heading {
    font-family: "lato", sans-serif;
    font-size: 3.0rem;
    font-weight: 100;
    text-transform: uppercase;
    text-align: right;
    color: white;
    position: absolute;
    top: 2rem;
    right: 2rem;
    width: 60%; }
  .card__heading-span {
    padding: 0.3rem .8rem;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone; }
    .card__heading-span--1 {
      background-image: linear-gradient(to right bottom, rgba(240, 164, 42, 0.85), rgba(194, 130, 27, 0.85)); }
    .card__heading-span--2 {
      background-image: linear-gradient(to right bottom, rgba(144, 238, 144, 0.85), rgba(0, 128, 0, 0.85)); }
    .card__heading-span--3 {
      background-image: linear-gradient(to right bottom, rgba(173, 216, 230, 0.85), rgba(0, 0, 255, 0.85)); }
  .card__details {
    margin-top: 10%;
    margin-left: 16%;
    width: 70%; }
  .card__cta {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%; }
    .card__cta-1 {
      top: 66%; }
    .card__cta-2 {
      top: 50%; }
    .card__cta-3 {
      top: 66%; }
    .card__cta h4 {
      color: beige;
      margin-bottom: 20px;
      font-size: 1.3rem; }
    .card__cta ul {
      margin-bottom: 0px; }
      .card__cta ul li {
        text-align: center;
        list-style: none; }

.container {
  text-align: center;
  padding-top: 30px;
  width: 100%; }
  .container .para1 {
    animation: fadeIn 1s ease; }
    @media (max-width: 56.25em) {
      .container .para1 {
        animation: none; } }
  .container .para2 {
    animation: letterFade 1s ease-in; }
    @media (max-width: 56.25em) {
      .container .para2 {
        animation: none; } }
  .container .contact__info1 {
    animation: right 1s ease-out; }
    @media (max-width: 56.25em) {
      .container .contact__info1 {
        animation: none; } }
  .container .contact__info2 {
    animation: left 1s ease-out; }
    @media (max-width: 56.25em) {
      .container .contact__info2 {
        animation: none; } }
  .container #abtMeContainer {
    display: inline-block;
    width: 40%; }
  .container #myExpContainer {
    display: inline-block;
    width: 40%; }
  .container #myProjContainer {
    display: inline-block;
    width: 80%; }

@keyframes fadeIn {
  0% {
    opacity: 0;
    margin-top: 20px; }
  50% {
    opacity: 50%;
    margin-top: 60px; }
  100% {
    opacity: 100%; } }

@keyframes letterFade {
  0% {
    color: white;
    text-shadow: 10px 10px white; }
  50% {
    text-shadow: 2px 2px lightgray; }
  100% {
    text-shadow: black; } }

@keyframes right {
  0% {
    opacity: 0; }
  50% {
    opacity: 50%;
    margin-right: 100px;
    text-shadow: 100px 10px 5px #f0a42a; } }

@keyframes left {
  0% {
    opacity: 0; }
  50% {
    opacity: 50%;
    margin-left: 100px;
    text-shadow: 100px 10px 5px #f0a42a; } }

.row {
  max-width: 114rem;
  margin: 0 auto;
  margin-bottom: 6%; }
  .row:not(:last-child) {
    margin-bottom: 8%; }
    @media (max-width: 56.25em) {
      .row:not(:last-child) {
        margin-bottom: 8%; } }
  @media (max-width: 56.25em) {
    .row {
      max-width: 30rem; } }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 6%; }
      @media (max-width: 56.25em) {
        .row [class^="col-"]:not(:last-child) {
          margin-right: 0;
          margin-bottom: 6%; } }
    @media (max-width: 56.25em) {
      .row [class^="col-"] {
        width: 100% !important; } }
  .row .col-1-of-2 {
    width: calc((100% - 6%) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 6%) / 3); }

#header {
  margin-top: 50px;
  display: inline-block;
  width: 40%;
  font-size: 7rem;
  font-family: Copperplate, "Copperplate Gothic Light", fantasy;
  font-style: normal;
  position: relative;
  background: linear-gradient(to right, #414040 50%, #FF5858 50%, #CC2E5D);
  background-size: 200%;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: .8s ease-out; }
  @media (max-width: 56.25em) {
    #header {
      font-size: 6rem; } }
  @media (max-width: 37.5em) {
    #header {
      font-size: 3rem;
      width: 60%; } }
  #header:hover {
    transform: skewY(2deg) skewX(15deg) scale(1.1);
    text-shadow: .5rem 1rem 3.5rem black;
    background-position: -100%;
    transition: all .1s; }

.menu-wrap {
  display: none;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0; }
  @media (max-width: 37.5em) {
    .menu-wrap {
      display: inline-block; } }
  .menu-wrap__toggler {
    z-index: 2;
    cursor: pointer;
    width: 50px;
    height: 50px;
    opacity: 0; }
  .menu-wrap__hamburger {
    z-index: 1;
    width: 60px;
    height: 60px;
    padding: 1rem;
    background: silver;
    display: flex;
    align-items: center;
    justify-content: center; }
  .menu-wrap__hamburger > div {
    position: relative;
    width: 100%;
    height: 2px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.4s ease; }
  .menu-wrap__hamburger > div::before,
  .menu-wrap__hamburger > div::after {
    content: '';
    position: absolute;
    z-index: 1;
    top: -10px;
    width: 100%;
    height: 2px;
    background: inherit; }
  .menu-wrap__hamburger > div::after {
    top: 10px; }
  .menu-wrap__toggler:checked + .menu-wrap__hamburger > div {
    transform: rotate(135deg); }
  .menu-wrap__toggler:checked + .menu-wrap__hamburger > div:before,
  .menu-wrap__toggler:checked + .menu-wrap__hamburger > div:after {
    top: 0;
    transform: rotate(90deg); }
  .menu-wrap__toggler:checked ~ .menu {
    visibility: visible; }
  .menu-wrap__toggler:checked ~ .menu > div {
    transform: scale(1);
    transition-duration: 0.75s; }
  .menu-wrap__toggler:checked ~ .menu > div > div {
    opacity: 1;
    transition: opacity 0.4s ease; }
  .menu-wrap .menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    visibility: hidden;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center; }
  .menu-wrap .menu > div {
    background: #414040;
    /* border-radius: 50%; */
    width: 200vw;
    height: 200vw;
    display: flex;
    flex: none;
    opacity: 80%;
    align-items: center;
    justify-content: center;
    transform: scale(0);
    transition: all .4s ease; }
  .menu-wrap .menu > div > div > ul > li {
    color: #fff;
    font-size: 1.5rem;
    padding: 1rem;
    cursor: pointer;
    display: flex;
    align-items: center; }
