.row {

    max-width: $grid-width;
    margin: 0 auto;
    margin-bottom: $gutter-horizontal;

    &:not(:last-child){
        margin-bottom: $gutter-vertical;
    }

    .col-1-of-3 {
        width: calc((100% - 2 * #{$gutter-horizontal}) / 3);
        background-color: red;
    }
}