// COLORS
$color-primary: silver;
$color-secondary: #414040;
$color-tertiary: rgb(200, 38, 65);
$color-white: white;
$color-black: black;

// CARD COLORS 
$color-card1-light: rgb(240, 164, 42);
$color-card1-dark: rgb(194, 130, 27);

$color-card2-light: lightgreen;
$color-card2-dark: green;

$color-card3-light: lightblue;
$color-card3-dark: blue;

// GRID
$grid-width: 114rem;
$gutter-vertical: 8%;
$gutter-horizontal: 6%;