.btn{
    background-color: transparent;
    position: relative;
    color: $color-black;
    text-decoration: none;
    border: .2rem solid $color-secondary;
    overflow: hidden;
    text-transform: uppercase;
    padding: 15px 40px;
    margin-top: 20px;
    display: inline-block;
    text-align: center;
    transition: all .3s ease;
    z-index: 5;
    cursor: pointer;

    &:hover {
        background-color: $color-tertiary;
        color: $color-primary;
        transform: translateY(-3px);
        border-radius: 100px;
        box-shadow: 0 1rem 2rem rgba($color-black, .2);

        &::before {
            height: 380%;
        }
    }

}