.card {
    // FUNCTIONALITY
    perspective: 150rem;
    -moz-perspective: 150rem;
    position: relative;
    height: 27rem;
    animation: moveUp 1s 1 ease;

    @keyframes moveUp {

        0% {
            margin-top: 100px;
            opacity: 0;
        }

        100% {
            margin-top: 0px;
            opacity: 1;
        }

    }

    li, .card__details {
        font-weight: bold;
    }

    .row__card1BtnRow {
        position: fixed;
        padding-top: 28px;
        padding-left: 20px;
    }

    .row__card3BtnRow {
        position: absolute;
        padding-top: 35px;
        padding-left: 20px;
    }

    &__side {
        color: $color-black;
        height: 27rem;
        transition: all .8s ease;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        backface-visibility: hidden;
        border-radius: 3px;
        overflow: hidden;
        box-shadow: 0 1.5rem 4rem rgba($color-black, .15);

        &--front {
            &-1 {
                background-image: linear-gradient(to right bottom, $color-card1-light, $color-card1-dark);
            }

            &-2 {
                background-image: linear-gradient(to right bottom, $color-card2-light, $color-card2-dark);
            }

            &-3 {
                background-image: linear-gradient(to right bottom, $color-card3-light, $color-card3-dark);
            }
        }

        &--back {
            transform: rotateY(180deg);

            &-1 {
                background-image: linear-gradient(to right bottom, $color-card1-light, $color-card1-dark);
            }

            &-2 {
                background-image: linear-gradient(to right bottom, $color-card2-light, $color-card2-dark);
            }

            &-3 {
                background-image: linear-gradient(to right bottom, $color-card3-light, $color-card3-dark);
            }
        }
    }

    &:hover &__side--front {
        transform: rotateY(-180deg);
    }

    &:hover &__side--back {
        transform: rotateY(0);
    }


    // FRONT SIDE STYLING
    &__picture {
        background-size: cover;
        height: 12rem;
        background-blend-mode: screen;
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
        clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
        

        &--1 {
            background-image: linear-gradient(to right bottom, $color-card1-light, $color-card1-dark), url(../../assets/images/ClickyGame.JPG);
        }
        &--2 {
            background-image: linear-gradient(to right bottom, $color-card2-light, $color-card2-dark), url(../../assets/images/budgetfriendly.JPG);
        }
        &--3 {
            background-image:linear-gradient(to right bottom, $color-card3-light, $color-card3-dark), url(../../assets/images/ClickyGame.JPG);
        }
    }

    &__heading {
        font-family: "lato", sans-serif;
        font-size: 2.0rem;
        font-weight: 100;
        text-transform: uppercase;
        text-align: right;
        color: $color-white;
        position: absolute;
        top: 2rem;
        right: 2rem;
        width: 60%;
    }

    &__heading-span {
        padding: 0.3rem .8rem;
        -webkit-box-decoration-break: clone;
        box-decoration-break: clone;

        &--1 {
            background-image: linear-gradient(to right bottom,
            rgba($color-card1-light, .85), 
            rgba($color-card1-dark, .85));
        }

        &--2 {
            background-image: linear-gradient(to right bottom,
            rgba($color-card2-light, .85), 
            rgba($color-card2-dark, .85));
        }

        &--3 {
            background-image: linear-gradient(to right bottom,
            rgba($color-card3-light, .85), 
            rgba($color-card3-dark, .85));
        }
    }

    &__details {
        margin-top: 10%;
        margin-left: 16%;
        width: 70%;
    }

    &__cta {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 90%;

        h4 {
            color: beige;
            margin-bottom: 20px;
        }

        ul {
            margin-bottom: 0px;
            li {
                text-align: center;
                list-style: none;
            }
        }
    }

}

